body{
  background-image: url("bg2.jpg");
}
.bg1{
  border: 1px solid black;
  background-color: #703c72;
  color:white;
  font-family: 'Comfortaa', cursive;
}
.bg2{
  background-color: #344e77;
  border: 1px solid black;
  color:white;
font-family: 'Comfortaa', cursive;
}
h1{
  /* font-family: 'Rammetto One', cursive; */
  font-size:2em ;
}

.allbody{
  
  margin-top: center;
  color:white;
  font-family: 'Rammetto One', cursive;
  width:450px;

}

#panelmain{
  background-color:black;
}


.panel-flashy > .panel-heading {

     background-color:#d61361;

}
#img1{
  height:250px;

  display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;

}

#accordion{
  height:500px;
  width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
 padding: 10px;
}
